{{ define "pages/category.tmpl" }}
  {{ template "partials/header" . }}
  <div class="articles">
    <ul class="post-list">
      {{ range .Posts }}
      <li class="post-item">
        <span class="post-date">{{ .PublishedAt.Format "2006-01-02" }}</span>
        <a class="post-title" href="/post/{{ .Slug }}">{{ .Title }}</a>
      </li>
      {{ else }}
      <li>该分类暂无文章</li>
      {{ end }}
    </ul>
    {{ if .Pager }}
    {{ if gt .Pager.TotalPages 1 }}
    <div class="paginator">
      {{ if .Pager.PrevURL }}<a class="prev" href="{{ .Pager.PrevURL }}">上一页</a>{{ end }}
      <span class="page-number">第 {{ .Pager.Page }} / {{ .Pager.TotalPages }} 页</span>
      {{ if .Pager.NextURL }}<a class="next" href="{{ .Pager.NextURL }}">下一页</a>{{ end }}
    </div>
    {{ end }}
    {{ end }}
  </div>
  {{ template "partials/footer" . }}
{{ end }}
