{{ define "pages/index.tmpl" }}
  {{ template "partials/header" . }}
  <ul class="post-list">
    {{ range .Items }}
    <li class="post-item">
      <div class="post-title" >
        <a href="/post/{{ .Slug }}/">{{ .Title }}</a>
      </div>
      <div class="detail_post">
        <div class="post-date">发布时间：{{ .Date }}</div>
        {{ if .Category }}
        <span class="categories">
        分类:
          <a href="/category/{{ .Category.Slug }}">{{ .Category.Name }}</a>
        </span>
        {{ end }}
      </div>
      <div class="post-content">{{ .HTML }}</div>
    </li>
    {{ else }}
    <li>暂无文章</li>
    {{ end }}
  </ul>
  {{ if gt .Pager.TotalPages 1 }}
  <div class="paginator">
    {{ if .Pager.PrevURL }}<a class="prev" href="{{ .Pager.PrevURL }}">上一页</a>{{ end }}
    <span class="page-number">第 {{ .Pager.Page }} / {{ .Pager.TotalPages }} 页</span>
    {{ if .Pager.NextURL }}<a class="next" href="{{ .Pager.NextURL }}">下一页</a>{{ end }}
  </div>
  {{ end }}
  {{ template "partials/footer" . }}
{{ end }}
