{{ define "pages/index.tmpl" }}
  {{ template "partials/header" . }}
  <h1>最新文章</h1>
  <ul class="post-list">
    {{ range .Posts }}
    <li class="post-item">
      <a class="post-title" href="/post/{{ .Slug }}">{{ .Title }}</a>
      <span class="post-date">{{ .PublishedAt.Format "2006-01-02" }}</span>
      {{ if .Summary }}<p class="post-summary">{{ .Summary }}</p>{{ end }}
    </li>
    {{ else }}
    <li>暂无文章</li>
    {{ end }}
  </ul>
  {{ if gt .Pager.TotalPages 1 }}
  <div class="paginator">
    {{ if .Pager.PrevURL }}<a class="prev" href="{{ .Pager.PrevURL }}">上一页</a>{{ end }}
    <span class="page-number">第 {{ .Pager.Page }} / {{ .Pager.TotalPages }} 页</span>
    {{ if .Pager.NextURL }}<a class="next" href="{{ .Pager.NextURL }}">下一页</a>{{ end }}
  </div>
  {{ end }}
  {{ template "partials/footer" . }}
{{ end }}
