{{ define "pages/post.tmpl" }}
  {{ template "partials/header" . }}
  <article class="post">
    <div class="post-header">
        <h1 class="post-title">{{ .Post.Title }}</h1>


        <div class="detail_post">
          <div class="post-meta">发布时间：{{ .Post.PublishedAt.Format "2006-01-02 15:04" }}</div>
          {{ if .Category }}
                <span class="categories">归档分类：<a href="/category/{{ .Category.Slug }}">{{ .Category.Name }}</a></span>
          {{ end }}
            {{ if .Tags }}
                <div class="tags_post">
                标签：
                  <ul>
                    {{ range .Tags }}
                    <li><a href="/tag/{{ .Slug }}">{{ .Name }}</a></li>
                    {{ end }}
                  </ul>
                </div>
            {{ end }}
        </div>
    </div>

    <div class="post-content">{{ .Content }}</div>
    <p class="post-back"><a href="/">← 返回首页</a></p>
  </article>
  {{ template "partials/footer" . }}
{{ end }}
